@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    ViewData["LblTime"] = "Time";
    ViewData["BtnSubmit"] = "Schedule Job";
}
<h1>@ViewData["Title"]</h1>
@if (!string.IsNullOrEmpty(Model.Message))
{
<p><b>@Model.Message</b></p>
}
<form class="form-horizontal" method="post" >
    <div class="form-group">
        <label class="control-label col-sm-2" for="email">@ViewData["LblTime"]</label>
        <div class="col-sm-2">
            <input type="time" class="form-control" name="Time">
        </div>
    </div>
    <div class="input-group-btn">
        <button class="btn btn-default" type="submit">@ViewData["BtnSubmit"]
        </button>
    </div>
</form>
